@charset "utf-8";

#root,
#App {
  max-width: 100%;
  height: 100%;
}

#layout {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "nav header"
    "nav  main";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 0.1fr 2.9fr;
}
#layout.expander{
  grid-template-columns: 50px 1fr;
}
header {
  padding: 1rem;
  background-color: white;
  grid-area: header;
}

.page-title span {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 1rem;
}

nav{
  height: 100%;
  background-color: #242d2e;
  grid-area: nav;
}

.logo {
  padding: 2rem 1rem;
  font-size: large;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
/* 네비게이션 */

.sidebar-item {
  margin: 1rem 0;
}

.sidebar-item>a {
  display: block;
  font-size: 1.6rem;
  color: #ffffff;
  margin: 0 3rem;

}

/* mui icon */
.MuiSvgIcon-root {
  display: block;
}

.sidebar-title {
  margin: 0 3rem;
}

.sidebar-title span {
  font-size: 1.6rem;
  color: #e6e5e5;
}

.sidebar-title .toggle {
  transition: transform .3s;
}

.sidebar-item.open .toggle {
  transform: rotate(180deg);

}
nav li{cursor: pointer;}
nav .sidebar-item{padding: 1rem 0 0 0;}
.sidebar-content{background: #7D9D9C;}
.sidebar-content .sidebar-item{padding: 1rem 0;}
.sidebar-content .sidebar-item:hover{
  background: #d1e4e3;
}


.sidebar-content {
  display: none;
  color: #ffffff;
}

.sidebar-item.open>.sidebar-content {
  height: auto;
  display: block;
}

.sidebar-content .sidebar-item a {
  margin-left: 6rem;
  color: #ffffff;
  font-size: 1.6rem;
}

.sidebar-content .sidebar-item:hover a {
  font-weight: bold;
}

.info-wrap{
  border-top: 1px solid #4b4b4b;
}

.bottom-section {
  padding: 1rem 4rem;
}

.info-id {
  font-size: 1.5rem;
  margin-right: 2rem;
  color: #ffffff;
}

#pages {
  max-width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #e6e5e5;
  grid-area: main;
}


main {
  max-width: 100%;
  height: 100%;
}

.content-wrap {
  max-width: 100%;
  height: 100%;
  padding: 2em;
  background-color: #ffffff;
}

footer {
  padding: 1rem;
  background-color: #787878;
  grid-area: footer;
  text-align: center;
  font-size: small;
  color: #ffffff;
}


  