/* 공통 */
@media all and (max-width:1023px) {
  /* 레이아웃 */
  #layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "nav header"
      "nav pages"
      "nav  main";
    grid-template-columns: 0px 1fr;
    grid-template-rows: 0.1fr 1.9fr;
  }

  #layout.expander {
    grid-template-columns: 0px 1fr;
  }

  #layout.on {
    grid-template-columns: 0px 1fr;
    grid-template-rows: 0.1fr 1.9fr;
  }

  #pages {
    grid-area: pages;
    padding: 0.5rem;
  }

  main {
    padding: 0;
  }

  header {
    border-bottom: 1px solid #eeeeee
  }

  .header-flex {
    display: flex;
    justify-content: space-between;
  }

  /* 공통 */
  .page-title svg {
    display: block;
  }

  #fullDate,
  #temp {
    font-size: 1.2rem;
  }

  .weather-info ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .weather-info ul li:nth-child(3) {
    width: 15%;
  }

  .content-wrap {
    padding: 2rem 1rem;
  }

  nav {
    position: fixed;
    top: 58px;
    left: -250px;
    z-index: 10;
    transition: 0.5s;
  }

  nav.on {
    left: 0;
    transition: 0.5s;
  }

  /* 메인 */
  .main-grid-government {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    gap: 0.5rem;
  }

  .main-grid-government .content-box {
    padding: 1rem;
  }

  .main-grid-government .content-box .table {
    border: none;
  }

  .combine-right-government,
  .combine-left {
    grid-column: 1;
    grid-row: auto;
  }

  .combine-bottom-government {
    grid-column: 0;
  }

  /* 테이블 */

  table {
    display: table;
    border: 0;
  }

  thead {
    display: none !important;
  }

  tbody {
    display: block;
  }

  tr {
    display: block;
    margin-bottom: 1rem;
  }

  td {
    display: block;
  }

  tr>td::before {
    display: inline-block;
    width: 33%;
    position: relative;
  }

  table td {
    border: none;
    position: relative;
    border-bottom: 1px solid #eee;
    font-size: 1.2rem;
  }


  table td span {
    display: block;
  }

  table td::before {
    position: absolute;
    white-space: nowrap;
    left: 1rem;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    background-color: #F0EBE3;
    font-weight: 900;
  }

  /* 메인테이블 */
  .none-medicine-list td:nth-of-type(1) {
    font-weight: bold;
    padding: 0.5rem;
  }

  .none-medicine-list td:nth-of-type(1)::before {
    content: "";
  }

  .none-medicine-list td:nth-of-type(2):before {
    content: "요양등급";
  }

  .none-medicine-list td:nth-of-type(3):before {
    content: "생년월일";
  }

  .none-medicine-list td:nth-of-type(4):before {
    content: "전화번호";
  }

  .none-medicine-list td:nth-of-type(5):before {
    content: "주소";
  }

  .none-medicine-list td:nth-of-type(6):before {
    content: "기저질환";
  }

  .recent-visit {
    border: 0;
  }

  .recent-visit td:nth-of-type(1) {
    font-weight: bold;
    padding: 0.5rem;
  }

  .recent-visit td:nth-of-type(1)::before {
    content: "";
  }

  .recent-visit td:nth-of-type(2):before {
    content: "방문목적";
  }

  .recent-visit td:nth-of-type(3):before {
    content: "방문 상세 이유";
  }

  /* 시니어 조회 테이블 */
  .senior-table td:nth-of-type(1) {
    font-weight: bold;
    padding: 0.5rem;
  }

  .senior-table td:nth-of-type(1)::before {
    content: "";
  }

  .senior-table td:nth-of-type(2):before {
    content: "No";
  }

  .senior-table td:nth-of-type(3):before {
    content: "사용자등록번호";
  }

  .senior-table td:nth-of-type(4):before {
    content: "요양등급";
  }

  .senior-table td:nth-of-type(5):before {
    content: "이름";
  }

  .senior-table td:nth-of-type(6):before {
    content: "생년월일";
  }

  .senior-table td:nth-of-type(7):before {
    content: "전화번호";
  }

  .senior-table td:nth-of-type(8):before {
    content: "주소";
  }

  .senior-table td:nth-of-type(9):before {
    content: "기저질환";
  }

  /* 복약 조회 테이블*/
  .medicine-table td {
    padding-left: 14rem;
  }

  .medicine-table td:nth-of-type(1) {
    display: block;
    font-weight: 900;
    padding: 1rem;
  }

  .medicine-table td:nth-of-type(1):before {
    display: none;
    content: "";
  }

  .medicine-table td:nth-of-type(2):before {
    content: "이름";
  }

  .medicine-table td:nth-of-type(3):before {
    content: "생년월일";
  }

  .medicine-table td:nth-of-type(4):before {
    content: "전화번호";
  }

  .medicine-table td:nth-of-type(5):before {
    content: "주소";
  }

  .medicine-table td:nth-of-type(6):before {
    content: "평균 복약률 💊";
  }

  /* 복약 상세페이지 테이블 */
  .medicine-detail-table td:nth-of-type(1) {
    font-weight: 900;
    padding: 1rem;
  }

  .medicine-detail-table td:nth-of-type(1)::before {
    display: none;
    content: "";
  }

  .medicine-detail-table td:nth-of-type(2):before {
    content: "날짜";
  }

  .medicine-detail-table td:nth-of-type(3):before {
    content: "복약상태 (아침)";
  }

  .medicine-detail-table td:nth-of-type(4):before {
    content: "복약상태 (점심)";
  }

  .medicine-detail-table td:nth-of-type(5):before {
    content: "복약상태 (저녁)";
  }

  .medicine-detail-table td:nth-of-type(6):before {
    content: "필요 복용 횟수";
  }

  .medicine-detail-table td:nth-of-type(7):before {
    content: "복약률";
  }

  .medicine-detail-table td:nth-of-type(8):before {
    content: "수정 상세 사유";
  }

  .medicine-detail-table td:nth-of-type(9):before {
    content: "수정자";
  }

  .medicine-detail-table td:nth-of-type(10)::before {
    content: "수정일시";
  }
  .medicine-detail-table td:nth-of-type(11){
    padding: 1rem 1rem 0 1rem;
  }

  /* 댁내 온도 조회 테이블 */
  .temperature-table td:nth-of-type(1) {
    display: block;
    font-weight: 900;
    padding: 1rem;
  }

  .temperature-table td:nth-of-type(1):before {
    display: none;
    content: "";
  }

  .temperature-table td:nth-of-type(2):before {
    content: "이름";
  }

  .temperature-table td:nth-of-type(3):before {
    content: "생년월일";
  }

  .temperature-table td:nth-of-type(4):before {
    content: "전화번호";
  }

  .temperature-table td:nth-of-type(5):before {
    content: "주소";
  }

  .temperature-table td:nth-of-type(6):before {
    content: "최근 온도";
  }

  .temperature-table td:nth-of-type(7):before {
    content: "상태";
  }
  /* 최근 일주일 댁내 온도 */
  .temperature-modal td:nth-of-type(1){
    display: block;
    font-weight: 900;
    padding: 1rem;
  }
  .temperature-modal td:nth-of-type(1):before{
    display: none;
    content: "";
  }
  .temperature-modal td:nth-of-type(2):before{
    content: "날짜";
  }
  .temperature-modal td:nth-of-type(3):before{
    content: "02:00";
  }
  .temperature-modal td:nth-of-type(4):before{
    content: "10:00";
  }
  .temperature-modal td:nth-of-type(5):before{
    content: "14:00";
  }
  .temperature-modal td:nth-of-type(6):before{
    content: "23:00";
  }

  /* 방문 조회 테이블*/
  .visit-table table td:nth-of-type(1) {
    font-weight: 900;
    padding: 1rem;
  }

  .visit-table table td:nth-of-type(2):before {
    content: "날짜";
  }

  .visit-table table td:nth-of-type(3):before {
    content: "이름";
  }

  .visit-table table td:nth-of-type(4):before {
    content: "방문 목적";
  }

  .visit-table table td:nth-of-type(5):before {
    content: "방문 상세 사유";
  }

  .visit-table table td:nth-of-type(6):before {
    content: "보호사 연락처";
  }
  /* 장비 조회 테이블*/
  .equipment-table td:nth-of-type(1) {
    font-weight: 900;
    padding: 1rem;
  }

  .equipment-table td:nth-of-type(2):before {
    content: "No";
  }

  .equipment-table td:nth-of-type(3):before {
    content: "장비명";
  }

  .equipment-table td:nth-of-type(4):before {
    content: "시리얼 넘버";
  }

  .equipment-table td:nth-of-type(5):before {
    content: "기기 상태";
  }

  .equipment-table td:nth-of-type(6):before {
    content: "구매일";
  }
  .equipment-table td:nth-of-type(7):before {
    content: "배터리 잔량";
  }
  .equipment-table td:nth-of-type(8):before {
    content: "대여가능 여부";
  }
  .equipment-table td:nth-of-type(9):before {
    content: "관리";
  }
  /* 장비 상세 목록 테이블*/
  .equipment-detail td:nth-of-type(1) {
    font-weight: 900;
    padding: 1rem;
  }


  .equipment-detail td:nth-of-type(2):before {
    content: "장비명";
  }

  .equipment-detail td:nth-of-type(3):before {
    content: "시리얼 넘버";
  }

  .equipment-detail td:nth-of-type(4):before {
    content: "사용자명";
  }

  .equipment-detail td:nth-of-type(5):before {
    content: "사용자관리번호";
  }
  .equipment-detail td:nth-of-type(6):before {
    content: "위치";
  }
  .equipment-detail td:nth-of-type(7):before {
    content: "대여 기간";
  }

  /* 장비등록창 */
  .equipment-modal table td{padding: 0;}
}

/* PC , 테블릿 가로 (해상도 ~ 1024px)*/
@media all and (max-width:1024px) {}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {


  /* 메인 */
  .content-box:nth-child(3)>div {
    display: flex;
    justify-content: flex-start;
  }

  .main-battery-title {
    width: 40%;
  }

  /* 공통 */

  /* 시니어 정보 상세 조회 */
  .senior-detail {
    border: 0;
  }

  .senior-detail th {
    display: block;
    width: 34%;
  }
  .senior-detail td{padding: 0;}
  .senior-detail td span {
    text-align: center;
  }


  /* 검색창 */
  .mobile-area-wrap {
    display: block;
    margin-top: 1rem;
  }

  .mobile-area-wrap div {
    width: 100%;
    margin-top: 1rem;
  }

  .mobile-area-wrap div label {
    width: 30%;
    font-size: 1.3rem;
  }

  .mobile-area-wrap div select {
    width: 70%;
  }

  .area-wrap {
    display: none;
  }

  .search-area {
    padding: 1rem;
  }

  .detail-search table tr,
  .detail-search table th,
  .detail-search table td {
    display: block;
  }

  .detail-search table th {
    width: 100%;
  }

  .detail-search table td::before {
    display: none;
  }

  .detail-search table td {
    padding: 0;
    border: 0;
  }

  .detail-search table tr {
    border: 0;
  }

  .detail-search tbody tr:nth-of-type(3) td {
    width: 50%;
    display: flex;
  }
  /* 복약 수정 페이지 */
  .modal-main table th{width: 100%; display: block;}
  .modal-main table td{padding: 0.5rem 0;}

  .medicine-revise tr {
    border: 0;
  }

  .medicine-revise tr:nth-child(3)>td div,
  .medicine-revise tr:nth-child(4)>td div,
  .medicine-revise tr:nth-child(5)>td div {
    width: 50%;
  }

  .medicine-revise tr:nth-child(3)>td div input,
  .medicine-revise tr:nth-child(4)>td div input,
  .medicine-revise tr:nth-child(5)>td div input {
    width: 20%;
  }

  .medicine-revise tr:nth-child(3)>td div label,
  .medicine-revise tr:nth-child(4)>td div label,
  .medicine-revise tr:nth-child(5)>td div label {
    width: 50%;
  }



}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {

  /* 공통 */


  /* button */

  .btn-large {
    font-size: 1.4rem;
    width: 20%;
  }



  /* 로그인 */
  .login-wrap h1 {
    font-size: 1.8rem;
    line-height: 1rem;
  }

  .login-wrap h3 {
    margin: 20% 0 5% 0;
    font-size: 2rem;
    text-align: center;
  }

  .login-form .login-inner .content {
    width: 80%;
    margin: 1rem auto;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }

  .container .btn-wrap {
    margin-top: 5rem;
  }

  .container button {
    width: 30%;
  }

  /* 검색창 */
  .mobile-area-wrap {
    display: block;
    margin-top: 1rem;
  }

  .mobile-area-wrap div {
    width: 100%;
    margin-top: 1rem;
  }

  .mobile-area-wrap div label {
    width: 30%;
    font-size: 1.3rem;
  }

  .mobile-area-wrap div select {
    width: 70%;
  }

  .area-wrap {
    display: none;
  }

  .search-area {
    padding: 1rem;
  }

  .detail-search table tr,
  .detail-search table th,
  .detail-search table td {
    display: block;
  }

  .detail-search table th {
    width: 100%;
  }

  .detail-search table td::before {
    display: none;
  }

  .detail-search table td {
    padding: 0;
    border: 0;
  }

  .detail-search table tr {
    border: 0;
  }

  .detail-search tbody tr:nth-of-type(3) td {
    width: 50%;
    display: flex;
  }

  /* 시니어 정보 상세 조회 */
  .senior-detail {
    border: 0;
  }

  .senior-detail th {
    display: block;
    width: 34%;
  }

  .senior-detail td span {
    text-align: center;
  }


  /* 시니어 등록창 */
  .senior-insert th {
    font-size: 1.4rem;
  }


   /* 복약 수정 페이지 */
   .medicine-revise tr {
    border: 0;
  }

  .medicine-revise tr:nth-child(3)>td div,
  .medicine-revise tr:nth-child(4)>td div,
  .medicine-revise tr:nth-child(5)>td div {
    width: 50%;
  }

  .medicine-revise tr:nth-child(3)>td div input,
  .medicine-revise tr:nth-child(4)>td div input,
  .medicine-revise tr:nth-child(5)>td div input {
    width: 20%;
  }

  .medicine-revise tr:nth-child(3)>td div label,
  .medicine-revise tr:nth-child(4)>td div label,
  .medicine-revise tr:nth-child(5)>td div label {
    width: 50%;
  }
  /* 복약 상세페이지 */
  .medicine-detail-graph {
    display: block;
  }
  /* 복약 수정 페이지 */
  .modal-main table th{width: 100%; display: block;}
  .modal-main table td{padding: 0.5rem 0;}

  /* 최근 일주일 댁내 온도(모달창) */
  .temperature-modal td:nth-of-type(1) {
    font-weight: 900;
    padding: 1rem;
  }

  .temperature-modal td:nth-of-type(2):before {
    content: "날짜";
  }
  .temperature-modal td:nth-of-type(3):before {
    content: "02:00";
  }
  .temperature-modal td:nth-of-type(4):before {
    content: "10:00";
  }
  .temperature-modal td:nth-of-type(5):before {
    content: "14:00";
  }
  .temperature-modal td:nth-of-type(6):before {
    content: "23:00";
  }



  /* 방문 관리 상세 페이지 */
  /* 방문 수정 페이지 */
  .visit-revise th {
    width: 40%;
    font-size: 1.4rem;
  }

  .visit-revise tr:nth-child(3) td {
    display: block;
  }

  .visit-revise tr:nth-child(3) td>div {
    display: flex;
    margin: 0.5rem 0;
  }

  /* 방문 등록 */
  .user-list {
    display: none;
  }

  .insert {
    display: block;
  }

  .insert table tr:nth-child(6) td {
    display: block;
  }

  .insert tr:nth-child(6) td>div {
    display: flex;
    margin: 0.5rem 0;
  }

  .insert tr:nth-child(6) td>div input {
    width: 50%;
  }

  /* 장비조회 */

  /* 장비 상세 조회 */

  /* 장비등록 */

  .equipment-insert tr:nth-child(5) td {
    width: 28%;
  }

  .equipment-insert tr:nth-child(6) td {
    width: 100%;
  }

  .equipment-insert tr:nth-child(5) td select {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .equipment-insert tr:nth-child(5) td input {
    display: table;
    width: 90%;
  }

  .equipment-insert tr:nth-child(6) td select {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {

  /* 메인 */
  .main-battery-title {
    font-size: 1.4rem;
    width: 61%;
  }

  .battery::after {
    content: " 남았습니다.";
    font-size: 1.4rem;
    width: 62%;
  }

  .battery p {
    font-size: 2rem;
  }

  #chartdiv1 {
    height: 25vh;
  }

  /* 공통 */
  table td {
    border: none;
    position: relative;
    border-bottom: 1px solid #eee;
    font-size: 1.2rem;
    padding-left: 10rem;
  }
  /* button */

  .btn-large {
    font-size: 1.4rem;
    width: 20%;
  }

  /* 로그인 */
  .login-wrap h1 {
    font-size: 1.8rem;
    line-height: 1rem;
  }

  .login-wrap h3 {
    margin: 20% 0 5% 0;
    font-size: 2rem;
    text-align: center;
  }

  .login-form .login-inner .content {
    width: 80%;
    margin: 1rem auto;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }

  .container .btn-wrap {
    margin-top: 5rem;
  }

  .container button {
    width: 30%;
  }

  /* 메인 */
  .statistics li p:nth-of-type(1),
  .statistics li p:nth-of-type(2) {
    font-size: 1.4rem;
  }

  /* 검색창 */

  .mobile-area-wrap {
    display: block;
    margin-top: 1rem;
  }

  .mobile-area-wrap div {
    width: 100%;
    margin-top: 1rem;
  }

  .mobile-area-wrap div label {
    width: 30%;
    font-size: 1.3rem;
  }

  .mobile-area-wrap div select {
    width: 70%;
  }

  .area-wrap {
    display: none;
  }

  .search-area {
    padding: 1rem;
  }

  .detail-search table tr,
  .detail-search table th,
  .detail-search table td {
    display: block;
  }

  .detail-search table th {
    width: 100%;
    margin: 1rem 0;
  }

  .detail-search table td::before {
    display: none;
  }
  .detail-search table tr{border: 0;}
  .detail-search table td {
    padding: 0;
    border: 0;
  }

  .detail-search tbody tr:nth-of-type(3) td {
    width: 50%;
    display: flex;
  }
  .detail-search tbody tr:nth-of-type(3) th:nth-child(3){width: 100%;}

  /* 시니어 정보 상세 조회 */
  .senior-detail th,
  .senior-detail td {
    display: block;
  }

  .senior-detail th {
    font-size: 1.2rem;
    width: 100%;
  }

  .senior-detail td {
    width: 100%;
    font-size: 1.2rem;
  }

  .senior-detail td span {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
  }

  /* 시니어 등록창 */
  .senior-insert {
    display: grid;
  }

  .senior-insert th {
    font-size: 1.4rem;
    width: 50%;
    padding: 1rem 10rem;
  }

  .senior-insert td {
    display: list-item;
    padding-top: 1rem;
  }

  .senior-insert select {
    width: 100%;
  }

  .senior-insert input {
    width: 100%;
  }

  .senior-insert tr:nth-child(2) .gender {
    padding: 1rem 1rem;
    display: flex;
    flex: 0 0 25%;
  }

  .senior-insert tr:nth-child(2) .gender input {
    width: 25%;
  }

  .senior-insert td::marker {
    content: "";
  }

  /* 복약조회*/

  /* 복약 상세페이지 */
  .medicine-detail-graph {
    display: block;
  }

  /* 복약 수정 페이지 */
  .modal-main table th, .modal-main table td{display: block;}
  .modal-main table th{width: 100%;}
  .modal-main table td{padding: 0.5rem 0 0 12rem;}
  .medicine-revise tr {
    border: 0;
  }

  .medicine-revise tr:nth-child(3)>td div,
  .medicine-revise tr:nth-child(4)>td div,
  .medicine-revise tr:nth-child(5)>td div {
    width: 50%;
  }

  .medicine-revise tr:nth-child(3)>td div input,
  .medicine-revise tr:nth-child(4)>td div input,
  .medicine-revise tr:nth-child(5)>td div input {
    width: 20%;
  }

  .medicine-revise tr:nth-child(3)>td div label,
  .medicine-revise tr:nth-child(4)>td div label,
  .medicine-revise tr:nth-child(5)>td div label {
    width: 50%;
  }


  /* 댁내 온도 조회 */


  /* 최근 일주일 댁내 온도(모달창) */
  .temperature-modal td:nth-of-type(1) {
    font-weight: 900;
    padding: 1rem;
  }

  .temperature-modal td:nth-of-type(2):before {
    content: "날짜";
  }
  .temperature-modal td:nth-of-type(3):before {
    content: "02:00";
  }
  .temperature-modal td:nth-of-type(4):before {
    content: "10:00";
  }
  .temperature-modal td:nth-of-type(5):before {
    content: "14:00";
  }
  .temperature-modal td:nth-of-type(6):before {
    content: "23:00";
  }

  /* 방문 조회 */

  /* 방문 관리 상세 페이지 */
  .senior-detail tr:nth-of-type(6) td {
    display: flex;
    justify-content: center;
  }
  .senior-detail td{padding: 0;}

  /* 방문 수정 페이지 */
  .visit-revise th {
    width: 40%;
    font-size: 1.4rem;
  }

  .visit-revise tr:nth-child(3) td {
    display: block;
  }

  .visit-revise tr:nth-child(3) td>div {
    display: flex;
    margin: 0.5rem 0;
  }

  /* 방문 등록 */
  .user-list {
    display: none;
  }

  .insert {
    display: block;
  }

  .insert table tr:nth-child(6) td {
    display: block;
  }

  .insert tr:nth-child(6) td>div {
    display: flex;
    margin: 0.5rem 0;
  }

  .insert tr:nth-child(6) td>div input {
    width: 50%;
  }

  /* 장비조회 */

  /* 장비 상세 조회 */
   /* 장비등록창 */
   .equipment-modal tbody td{padding: 0.5rem;}


  /*사이드바 */
  .show-menu {
    width: 376px;
    height: 100%;
    position: absolute;
    left: 0px;
    transition: 1s;
  }
  
}


